*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,rgba(104, 38, 228, 1),rgba(211, 49, 84, 0.8)); 
    align-items: center;
}
body{
    overflow: hidden;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    padding: 20px;
    padding-top: 40px;
    width: 400px;
    height: 550px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-shadow: 10px 10px 20px 10px rgba(255,255,255, .1);
    z-index: 1;
}
.card img{
    box-shadow: 0px 5px 10px 5px rgba(59, 57, 207, 0.3);
    width: 100%;
    border-radius: 5px;

}
.card h1{
    color: rgb(56, 68, 233);
}
.card a{
    text-align: center;
    width: auto;
    text-decoration: none;
    border: 1px solid rgba(104, 38, 228, 0.5);
    padding: 10px;
    border-radius: 5px;
}
.card a:hover{
    background: linear-gradient(to top left,rgba(214, 16, 59,.4),rgba(53, 33, 235,.4));
    color: #ffff;
    z-index: 2;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .2);
}
.card p {
    color: #ffff;
}
.circle1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to bottom right,rgba(211, 49, 84, 1),rgba(104, 38, 228, 1));
    position: absolute;
    left: 57%;
    bottom: 2%;
}
.circle2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: radial-gradient(circle at 90px 90px,rgb(104, 38, 228), rgb(211, 49, 84));
    /* background: linear-gradient(to top left,rgb(211, 49, 84),rgb(104, 38, 228)); */
    position: absolute;
    z-index: 3;
    right: 55%;
    top: 1.5%;
}
.sub-circle2{
    z-index: -1;
    width: 90%;
    height: 10px;
    background: rgba(104, 20, 240, 0.7) ;
    border-radius: 50%;
    position: absolute;
    bottom: -15%;
    left: 5%;
    filter: blur(2.5px);
}
/* .circle3{
    top: -20%;
    left: -10%;
    left: -30%;
    top: 16%;
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: linear-gradient(to bottom left,rgba(49, 218, 189, 0.7),rgba(50, 180, 50, 0.7));
} */

